<h2>Qual seu nome?</h2>
    <form  method="POST" action="/form-receb">
        <input name="name" type="text" placeholder="Digite seu nome">
        <input type="submit" value="Enviar">
    </form>
{{#name}}
    SALVE SALVE GALERINHA
{{/name}}